body{
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4, h5, p, a{
    margin:0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#panels{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 5px
}

#panels div{
    border: 1px solid black;
    padding: 10px;
}

#panels img{
    width: 100%
}

#flowerGif, #treeHuggers{
    display: flex;
    justify-content: center;
    align-items: center;
}

#introduction {
    grid-row-start: 1;
    grid-row-end: 3;
}


@media (min-width: 600px) {
    #panels{
        grid-template: 1fr 1fr 1fr / 1fr 2fr;
        width: 100%;
        height:auto
    } 
}

@media (min-width: 1000px) {
    #panels{
        grid-template: 1fr 1fr 1fr / 1fr 2fr;
        width: 50%;
        height:auto
    } 
}

