body{
    height: 3000px;
    margin: 0px;
}

h1, h2, h3, h4, h5, p, a{
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/*Below is the styles for the navigation bar*/
#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    top:0px;
    position: sticky;
    width: 100%;
    height: 60px;
    background-color: white;
    margin-bottom: 40px;
    box-shadow: 1px 1px 30px 1px rgb(125, 125, 125);
}
/*Below is the styles for the grid on the home page */
#pageContent{
    display: flex;
    justify-content: center;
}

#panels{
    display: grid;
    width: 50%;
    height: fit-content;
    grid-template: 1fr 1fr 1fr / 1fr 2fr;
    gap: 10px
}

#panels div{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#panels img{
    width: 100%
}

#flowerGif, #treeHuggers{
    display: flex;
    justify-content: center;
    align-items: center;
}

#flowerGif{
    transition: 150ms;
}

#flowerGif:hover{
    border: 5px solid black;
    border-radius: 20px;
    padding: 0px;
}

#panels #introduction {
    grid-row-start: 1;
    grid-row-end: 3;
    font-size:larger;
    border: 5px solid black;
}

/* */

@media (max-width: 1200px) {
    #panels{
        grid-template: 1fr 1fr 1fr / 1fr 2fr;
        width: 100%;
    }
    #introduction {
        font-size: medium;
    }
}

@media (max-width: 600px) {
    #panels{
        grid-template-columns: 1fr;
        width: 100%;
    }
    #introduction {
        font-size:medium;
    }
}